.video {
  height: auto;
  width: 100%;
  object-fit: cover;
}
#videoContainer > img {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
#finishBtn {
  background-color: #75b06d;
}
#saveBtn {
  background-color: #4a81bd;
}
#cancelBtn {
  background-color: #d9705d;
}
@media screen and (max-width: 393px) {
  #cameraButtons {
    width: 100%;
  }
}
